<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for media access -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" /> <!-- Legacy permissions (deprecated, needed only for older APIs) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:targetApi="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:targetApi="28" /> <!-- Scoped storage bypass (use only if absolutely necessary) -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/brand_google_photos"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GalleryApp"
        tools:targetApi="31">
        <activity
            android:name=".main.Activity.FavViewPictureActivity"
            android:exported="false" />
        <activity
            android:name=".main.Activity.VideoPlayActivity"
            android:exported="false" />
        <activity
            android:name=".main.Activity.ViewFavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".main.Activity.ViewFolderActivity"
            android:exported="false" />
        <activity
            android:name=".main.Activity.ViewVideoActivity"
            android:exported="false" />
        <activity
            android:name=".main.Activity.ViewPictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <activity
            android:name=".main.Activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".main.Activity.SplashActivity"
            android:exported="true">

            <!-- android:theme="@style/SplashScreen"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- For Share Files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>